/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    .row{
    flex-wrap: wrap;
    }
    .row .card{
        width: 20%;
        font-size: .5rem;
    }

    }
/* 
    // Small devices (landscape phones, less than 768px) */
    @media (max-width: 767.98px) { 
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        .row{
        flex-wrap: wrap;
        }
        .row .card{
            width: 40%;
            font-size: .5rem;
        }
        }

       