/* FONT  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

main{
    background-color: #080b12;
    height: calc(100vh - 160px);
    width: 100vw;
}

.main-content {
width: 100%;
background-color: #141922;
}


/* UPGRADE SECTION */

.upgrade-bar{
    background-color: #080b12;
    height: 80px;
    text-transform:uppercase ;
    align-items: center;
}

.container-playlist{
    overflow: hidden;
}


.btn-upgrade{
    border-radius: 40px;
    padding: .5rem;
    border: solid white;
    /* height: 50%; (tolto per hover) */
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color:#a3a3a3;
}

.flex-col{
    flex-direction: column;
}

.container-btn{
    overflow: hidden;
}

.white{
    color: white;
}

.gray{
    color: #a3a3a3;
}
nav p{
    text-transform: uppercase;
    padding: .5rem;
}
nav{
    height: 100%;
    width: 200px;
}

nav ul li{
    padding: .5rem;
}

nav ul li i{
    width: 10%;
    text-align: center;
    margin-right: .5rem;
}
.nav-list{
    overflow: auto;
}
.nav-list{
    height: 40vh;
    font-size: .8rem;
}
.plus{
    background-color: grey;
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.nav-bottom div:first-child{
    border-bottom: #525252 solid;
    font-size: .8rem;
}

.user{
    font-size: 1rem;
}
.nav-bottom span{
    margin-left: .5rem;
}
.nav-bottom div{
    padding: .5rem;
}
/* LOGO */

.section-logo, nav{    
    width: 200px;
    background-color: black;
}
.container-logo{
   width: 80%;

}
.container{
    width: calc(100vw - 205px);
    font-size: .9rem;
    padding: 1rem;
    overflow: auto;
    overflow-x: hidden;

}
/* EX
/* .container{
    flex-basis: calc(94% / 6);
    font-size: .9rem;
    margin: 1% .5%;
    overflow: auto;
    overflow-x: hidden;

} */ 


.main-menu-bar ul li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: .8rem;
}

.main-menu-bar{
    justify-content: center;
    width: 100%;
}

.main-menu-bar ul{
    flex-wrap: wrap;
    justify-content: space-around;
}

.underline-dash{
    border: 2px solid #95d514;
    width: 35%;
    margin-left: 30%;
}

.container h2{
    margin: .5rem 0 0.5rem;
}
.container p{
    margin: 30px 0;
}

.row{
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 2rem;    
}
.row .card{
    width: 13%;
    text-align: center;
    font-size: .8rem;
    
}
.row img{
    width: 100%;
}

.mrg-10{
    margin: 10px;
}
.playlist-radius{
    border-radius: 50%;
}
/* <!-- Footer --> */
footer {
    background-color: #282828;
    position: fixed;
    z-index: 2;
    width: 100%;
    height: 80px;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
}

.song-played-footer {
    gap: 0 15px;
    align-items: center;
}

.song-name-footer {
    margin: 0 40px 0 0;
}

.song-played-footer img {
    width: 70px;
    height: 70px;
}

.player-footer{
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.player-buttons {
    align-items: center;
}

.player-buttons i {
    font-size: 1.2rem;
    margin: 0 20px;
}

.player-buttons .fa-play-circle {
    font-size: 2.3rem;
}

.player-time {
    align-items: center;
}

.player-time h3 {
    font-weight: 200;
}

.time-bar {
    margin: 0 20px;
    width: 700px;
    height: 7px;
    border-radius: 20px;
    background-color: #5a5a5a;
}

.time-passed {
    width: 150px;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}

.volume-stream-footer {
    gap: 0 20px;
    align-items: center;
}

.volume-bar {
    width: 150px;
    height: 5px;
    border-radius: 20px;
    background-color: #5a5a5a;
}

.volume-set {
    width: 50px;
    height: 100%;
    border-radius: 20px;
    background-color: #c1c1c1;
}

/* hover */
.btn-upgrade:hover{
    padding: 10px;
}
a:hover{
    color: white;
}
li:hover .fa-plus{
    background-color: white;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}
.card:hover .overlay{
    background-color: rgba(0, 0, 0 , .4);
}
.card:hover .card-play{
    display: block;
}
.overlay{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.card-play i{
    font-size: 3rem;
}
.card-play{
    display: none;
}


