/* FONT  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 141922 */

main {
  height: 90vh;
  display: flex;
}

main nav {
  width: 350px;
  background-color: #aa2724;
  /* #141922 */

}
.main-content {
  width: 100%;
  background-color: #141922;
}

footer {
  height: 10vh;
  background-color: #282828;
}