/* FONT  */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

/* Reset */

* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    color: white;
}

main{
    background-color: #080b12;
    height: calc(100vh - 150px);
    width: 100vw;
  }

/* main nav {
width: 350px; */

background-color: #141922;
  /* #141922 */
}

.main-content {
width: 100%;
background-color: #141922;
}

footer {
height: 10vh;
background-color: #282828;
}

/* UPGRADE SECTION */

.upgrade-bar{
    background-color: #080b12;
    height: 80px;
    text-transform:uppercase ;
    align-items: center;
}

.container-btn{
    overflow: hidden;
}


.btn-upgrade{
    border-radius: 40px;
    padding: .5rem;
    border: solid white;
    height: 50%;
}

.flex{
    display: flex;
}

.flex-between{
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.flex-col{
    flex-direction: column;
}

.container-btn{
    overflow: hidden;
}

.white{
    color: white;
}

.gray{
    color: #626262;
}
nav p{
    text-transform: uppercase;
    padding: .5rem;
}
nav{
    height: 100%;
    width: 200px;
}

nav ul li{
    padding: .5rem;
}

nav ul li i{
    width: 10%;
    text-align: center;
    margin-right: .5rem;
}
.nav-list{
    overflow: auto;
}
.nav-list{
    height: 40vh;
    font-size: .8rem;
}
.plus{
    background-color: grey;
    color: black;
    display: inline-block;
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.nav-bottom div:first-child{
    border-bottom: #525252 solid;
    font-size: .8rem;
}

.user{
    font-size: 1rem;
}
.nav-bottom span{
    margin-left: .5rem;
}
.nav-bottom div{
    padding: .5rem;
}
/* LOGO */

.section-logo, nav{    
    width: 200px;
    background-color: black;
}
.container{
    width: calc(100vw - 205px);
    font-size: .9rem;
    padding: 1rem;
    overflow: auto;
  }
  .container{
    width: calc(100vw - 205px);
    padding: 1rem;
    font-size: 1rem;   
    overflow: auto;
  }
  .main-menu-bar ul li{
    display: inline-block;
    text-transform: uppercase;
    margin-right: .8rem;
  }

  .main-menu-bar{
    justify-content: center;
    width: 100%;
  }
  .main-menu-bar ul{
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .underline-dash{
    border: 2px solid #95d514;
    width: 35%;
    margin-left: 30%;
  }








